openapi: 3.1.0
info:
  title: Zupy Loyalty API
  description: |
    Comprehensive loyalty program API for customer management, points operations, rewards, and analytics.
    
    ## Authentication
    All endpoints require Bearer token authentication. Use the format: `Bearer YOUR_API_KEY`
    
    ## Testing the API
    Use the token: `ZsCUqECc9aCQtN5z9z9sTs81933YnklP` for testing purposes.
    
    ## Epic 2 Enhancements
    - Enhanced Company Data API with complete address structure  
    - Complete Customer API with multi-criteria search and CRUD operations
    - CPF-based customer search for POS integration
    - Comprehensive Webhooks API with 18 event types
    
    ## Note on API Versions
    This documentation covers the **v1 API endpoints** that use Bearer token authentication.
    Legacy endpoints (without v1) may use different authentication methods.
    
  version: "1.0.0"
  contact:
    name: Zupy Support
    email: webmaster@zupy.com.br
    url: https://docs.zupy.com
  license:
    name: Proprietary
servers:
  - url: https://webmaster.zupers.com.br/api/loyalty/v1
    description: Production server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: "Use format: Bearer ZsCUqECc9aCQtN5z9z9sTs81933YnklP"

  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
          example: "1474883d96603e4914ef43bb135"
        name:
          type: string
          example: "Miola Smash Burger"
        trading_name:
          type: string
          example: "Miola Smash Burger"
        email:
          type: string
          format: email
          example: "wendel_f_m@hotmail.com"
        phone:
          type: string
          example: "(11) 98574-9872"
        website:
          type: string
          format: uri
          example: "https://miolaburger.com.br/"
        logo:
          type: string
          format: uri
          example: "https://cdn.zupy.com/media/company_files/logo-miola-smash-burger.jpg"
        description:
          type: string
          example: "Miola Burger Hamburgueria Artesanal"
        business_type:
          type: string
          example: "Hamburgueria"
        currency:
          type: string
          example: "BRL"
        cnpj:
          type: string
          example: "35.251.614/0001-20"
        address:
          type: string
          nullable: true
          example: null
        loyalty_programs_count:
          type: integer
          example: 1
        active_customers_count:
          type: integer
          example: 1022
        created_at:
          type: string
          format: date-time
          example: "2025-03-28T17:02:53.092523Z"
        active:
          type: boolean
          example: true


    ContactInfo:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "contato@miolarestaurante.com.br"
        phone:
          type: string
          example: "+5511999999999"
        address:
          type: string
          example: "Rua das Palmeiras, 123 - São Paulo, SP - Brasil"
        support_email:
          type: string
          format: email
          example: "suporte@miolarestaurante.com.br"

    CompanySettings:
      type: object
      properties:
        timezone:
          type: string
          example: "America/Sao_Paulo"
        currency:
          type: string
          example: "BRL"
        language:
          type: string
          example: "pt-BR"

    Customer:
      type: object
      properties:
        id:
          type: string
          example: "cust_1234567890"
        card_number:
          type: string
          example: "ZUP001234567"
        user:
          $ref: '#/components/schemas/User'
        points_balance:
          type: integer
          example: 1250
        points_earned:
          type: integer
          example: 5780
        points_spent:
          type: integer
          example: 4530
        tier:
          type: string
          example: "Gold"
        active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        last_activity_date:
          type: string
          format: date-time
        transaction_count:
          type: integer
          example: 47
        loyalty_program:
          type: object
          description: "Basic loyalty program information"
          properties:
            program_name:
              type: string
              example: "Miola Rewards"
            currency_name:
              type: string
              example: "ZupCoins"
            currency_symbol:
              type: string
              example: "ZC"

    User:
      type: object
      properties:
        name:
          type: string
          example: "João Silva"
        email:
          type: string
          format: email
          example: "joao.silva@email.com"
        whatsapp_number:
          type: string
          example: "+5511999999999"
        cpf:
          type: string
          example: "12345678901"

    CustomerList:
      type: object
      properties:
        count:
          type: integer
          example: 1247
        next:
          type: string
          format: uri
          nullable: true
          example: "https://webmaster.zupers.com.br/api/loyalty/v1/customers/?limit=20&offset=20"
        previous:
          type: string
          format: uri
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Customer'

    CustomerSearch:
      type: object
      properties:
        count:
          type: integer
          example: 1
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 1
        results:
          type: array
          items:
            $ref: '#/components/schemas/Customer'

    AddPointsRequest:
      type: object
      required:
        - customer_id
        - points
        - transaction_type
      properties:
        customer_id:
          type: string
          example: "cust_1234567890"
        points:
          type: integer
          minimum: 1
          example: 150
        transaction_type:
          type: string
          enum: [purchase, bonus, referral, adjustment, promotion]
          example: "purchase"
        reference_id:
          type: string
          example: "order_789012345"
        description:
          type: string
          example: "Points earned from purchase at Miola Restaurante"
        metadata:
          type: object
          example:
            order_value: 75.50
            payment_method: "credit_card"
            location: "store_001"

    PointsTransaction:
      type: object
      properties:
        success:
          type: boolean
          example: true
        transaction_id:
          type: string
          example: "txn_points_add_987654321"
        customer_id:
          type: string
          example: "cust_1234567890"
        points_added:
          type: integer
          example: 150
        new_balance:
          type: integer
          example: 1400
        tier_updated:
          type: boolean
          example: false
        new_tier:
          type: string
          example: "Silver"
        timestamp:
          type: string
          format: date-time

    LoyaltyProgram:
      type: object
      properties:
        id:
          type: string
          example: "1474884f79a5ec42bc017be2aac"
        name:
          type: string
          example: "Clube do Miola"
        description:
          type: string
          example: "Os Melhores Hamburguers da sua Vida!"
        company:
          type: object
          properties:
            id:
              type: string
              example: "1474883d96603e4914ef43bb135"
            name:
              type: string
              example: "Miola Smash Burger"
        active:
          type: boolean
          example: true
        points_name:
          type: string
          example: "Smashes"
        is_public:
          type: boolean
          example: true
        has_welcome_reward:
          type: boolean
          example: false
        welcome_reward_description:
          type: string
          nullable: true
          example: null
        logo:
          type: string
          format: uri
          example: "https://cdn.zupy.com/media/loyalty/program/logos/4603621878005760_logo_iQ5HYT9.png"
        icon_image:
          type: string
          format: uri
          nullable: true
          example: null
        rewards_count:
          type: integer
          example: 20
        customers_count:
          type: integer
          example: 1022

    Reward:
      type: object
      properties:
        id:
          type: string
          example: "reward_123456789"
        name:
          type: string
          example: "Free Burger"
        description:
          type: string
          example: "One free classic burger from our menu"
        points_cost:
          type: integer
          example: 500
        available:
          type: boolean
          example: true
        image:
          type: string
          format: uri
          nullable: true
        category:
          type: string
          example: "Food"

    RedeemRewardRequest:
      type: object
      required:
        - customer_id
      properties:
        customer_id:
          type: string
          example: "cust_1234567890"
        notes:
          type: string
          example: "Customer preference: no onions"

    RedemptionTransaction:
      type: object
      properties:
        success:
          type: boolean
          example: true
        redemption_id:
          type: string
          example: "redemption_987654321"
        customer_id:
          type: string
          example: "cust_1234567890"
        reward:
          $ref: '#/components/schemas/Reward'
        points_deducted:
          type: integer
          example: 500
        new_balance:
          type: integer
          example: 750
        redemption_code:
          type: string
          example: "REDEEM-ABC123"
        timestamp:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        detail:
          type: string
          example: "Customer not found"
        error_code:
          type: string
          example: "CUSTOMER_NOT_FOUND"

    ErrorValidation:
      type: object
      properties:
        detail:
          type: string
          example: "Validation error"
        error_code:
          type: string
          example: "VALIDATION_ERROR"
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

paths:
  /company/:
    get:
      tags:
        - Company
      summary: Get Company Information
      description: Retrieve basic company information including loyalty program overview and configuration details
      responses:
        '200':
          description: Company information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                id: "1474883d96603e4914ef43bb135"
                name: "Miola Smash Burger"
                trading_name: "Miola Smash Burger"
                email: "wendel_f_m@hotmail.com"
                phone: "(11) 98574-9872"
                website: "https://miolaburger.com.br/"
                logo: "https://cdn.zupy.com/media/company_files/logo-miola-smash-burger.jpg"
                description: "Miola Burger Hamburgueria Artesanal"
                business_type: "Hamburgueria"
                currency: "BRL"
                cnpj: "35.251.614/0001-20"
                address: null
                loyalty_programs_count: 1
                active_customers_count: 1022
                created_at: "2025-03-28T17:02:53.092523Z"
                active: true
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /customers/:
    get:
      tags:
        - Customers
      summary: List All Customers
      description: Retrieve a paginated list of all customers in the loyalty program with filtering options
      parameters:
        - name: limit
          in: query
          description: Number of results per page (max 100)
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Number of results to skip for pagination
          schema:
            type: integer
            default: 0
        - name: ordering
          in: query
          description: Field to order results by. Prefix with - for descending order
          schema:
            type: string
            enum: [name, -name, created_at, -created_at, last_activity_date, -last_activity_date, points_balance, -points_balance]
            example: "-created_at"
      responses:
        '200':
          description: Customers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customers/{customer_id}/:
    get:
      tags:
        - Customers
      summary: Get Customer Details
      description: Retrieve complete customer profile information including loyalty program membership details
      parameters:
        - name: customer_id
          in: path
          required: true
          description: Unique customer identifier
          schema:
            type: string
            example: "cust_1234567890"
      responses:
        '200':
          description: Customer details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customers/search/:
    get:
      tags:
        - Customers
      summary: Search Customer
      description: Find existing customers using phone number or email address as search criteria
      parameters:
        - name: q
          in: query
          description: Search query - phone number or email address
          schema:
            type: string
            example: "11999999999"
        - name: search_type
          in: query
          description: Specific search type when used with q parameter
          schema:
            type: string
            enum: [name, email, phone, cpf, customer_code]
        - name: phone
          in: query
          description: Search by phone number (digits only)
          schema:
            type: string
            example: "5511965958122"
        - name: email
          in: query
          description: Search by email address
          schema:
            type: string
            format: email
            example: "joao@email.com"
        - name: cpf
          in: query
          description: Search by CPF (with or without formatting)
          schema:
            type: string
            example: "12345678901"
        - name: customer_code
          in: query
          description: Search by customer code (card number)
          schema:
            type: string
            example: "ZP-4F95FB0A"
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items per page (max 100)
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSearch'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customers/by-cpf/{cpf}/:
    get:
      tags:
        - Customers
      summary: Search Customer by CPF
      description: Find a customer by their CPF (Brazilian tax ID) with enhanced data security and POS integration optimization
      parameters:
        - name: cpf
          in: path
          required: true
          description: Customer's CPF (Brazilian tax ID) - 11 digits
          schema:
            type: string
            pattern: '^[0-9]{11}$'
            example: "12345678901"
      responses:
        '200':
          description: Customer found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: Invalid CPF format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /loyalty/programs/:
    get:
      tags:
        - Loyalty Programs
      summary: List Loyalty Programs
      description: Retrieve all active loyalty programs for the company with complete program details including rewards count and customer statistics
      responses:
        '200':
          description: Loyalty programs retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoyaltyProgram'
              example:
                - id: "1474884f79a5ec42bc017be2aac"
                  name: "Clube do Miola"
                  description: "Os Melhores Hamburguers da sua Vida!"
                  company:
                    id: "1474883d96603e4914ef43bb135"
                    name: "Miola Smash Burger"
                  active: true
                  points_name: "Smashes"
                  is_public: true
                  has_welcome_reward: false
                  welcome_reward_description: null
                  logo: "https://cdn.zupy.com/media/loyalty/program/logos/4603621878005760_logo_iQ5HYT9.png"
                  icon_image: null
                  rewards_count: 20
                  customers_count: 1022
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /loyalty/programs/{program_id}/rewards/:
    get:
      tags:
        - Loyalty Programs
      summary: List Program Rewards
      description: Retrieve all rewards available within a specific loyalty program including cost, availability, and redemption details
      parameters:
        - name: program_id
          in: path
          required: true
          description: Unique loyalty program identifier
          schema:
            type: string
            example: "1474884f79a5ec42bc017be2aac"
      responses:
        '200':
          description: Program rewards retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reward'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /loyalty/programs/{program_id}/rewards/{reward_id}/redeem/:
    post:
      tags:
        - Loyalty Programs
      summary: Redeem Reward
      description: Process a reward redemption for a customer, deducting points and generating redemption confirmation
      parameters:
        - name: program_id
          in: path
          required: true
          description: Unique loyalty program identifier
          schema:
            type: string
            example: "1474884f79a5ec42bc017be2aac"
        - name: reward_id
          in: path
          required: true
          description: Unique reward identifier
          schema:
            type: string
            example: "reward_123456789"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemRewardRequest'
      responses:
        '200':
          description: Reward redeemed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionTransaction'
        '400':
          description: Invalid request or insufficient points
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Program or reward not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /points/add/:
    post:
      tags:
        - Points Operations
      summary: Add Points
      description: Add points to a customer's account for purchase transactions or promotional activities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPointsRequest'
            examples:
              purchase:
                summary: Purchase transaction
                value:
                  customer_id: "cust_1234567890"
                  points: 150
                  transaction_type: "purchase"
                  reference_id: "order_789012345"
                  description: "Points earned from purchase"
                  metadata:
                    order_value: 75.50
                    payment_method: "credit_card"
              bonus:
                summary: Promotional bonus
                value:
                  customer_id: "cust_1234567890"
                  points: 500
                  transaction_type: "bonus"
                  description: "Welcome bonus"
      responses:
        '200':
          description: Points added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsTransaction'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

tags:
  - name: Company
    description: Company information and settings
  - name: Loyalty Programs
    description: Loyalty program management, rewards, and redemption operations
  - name: Customers
    description: Customer management and search operations
  - name: Points Operations
    description: Point earning, spending, and transaction management